<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lomo Saltado | Recetas Dilancio</title>
</head>
<body>
    <h1>Lomo Saltado peruano</h1>
    <p>El Lomo Saltado peruano, también conocido como bistec salteado, es un plato de fusión muy popular que mezcla las tradiciones chinas del salteado con ingredientes peruanos que incluyen ají amarillo, cilantro y tomate.</p>
    <p>Empecemos!</p>
<h3>Ingredientes</h3>
<ul>
    <li>500 g carne, queda muy bien con lomo</li>
    <li>4 cebollas pequeñas</li>
    <li>1 morrón</li>
    <li>2 tomates</li>
    <li>Salsa de soja</li>
    <li>2 tazas arroz</li>
    <li>4 papas</li>
    <li>Sal y pimienta a gusto</li>
</ul>
<h3>Paso a paso</h3>
<ol>
    <li>En una sartén u olla vamos a colocar un buen chorro de aceite, nuestra carne cortada en tiritas, el morrón en tiras, la cebolla y el tomate en pedazos grandes, añadimos media taza de salsa de soja y un chorrito de vinagre y dejamos cocinar. Una vez cocida la carne apagamos el fuego y añadimos la cebolla de verdeo cortada finita.</li>
    <li>Cocinamos el arroz siguiendo las indicaciones del paquete o como nos guste.</li>
    <li>Pelamos nuestras papas, las cortamos en bastones y las freímos en aceite bien caliente.</li>
    <li>Para el aderezo: Añadimos el huevo, el limón, la cucharadita de sal y nuestra hierba, empezamos a batir (yo utilicé batidora de mano y un recipiente estrecho) añadimos nuestro aceite en forma de hilo bien finito hasta que emulsione la mezcla. Literal son 4 minutos, no batan de más porque se les va a cortar.</li>
    <li>Emplatamos como nos guste!</li>
</ol>
    <a href="https://cookpad.com/ar/recetas/14188166-lomo-saltado-peruano" target="_blank">Ir a la receta original</a>
<hr>
    <p>No te pierdas la receta de <a href="../views/papa-huancaina.html">Papa a la Huancaina</a></p>
    <a href="../index.html">Volver al inicio</a>

</body>
</html>