<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Papa a la Huancaina | Recetas Dilancio</title>
</head>
<body>
    <h1>Papa a la Huancaina peruana</h1>
    <img src="../img/papa-a-la-huancaina-peru-foto-principal.webp" alt="Foto del plato Papa a la Huancaina" width="500" height="250">
    <p>Las papas bañadas con la salsa más popular y versátil de la gastronomía peruana: la <em>"Huancaína"</em>, una crema que tiene como ingrediente principal el ají amarillo.
        Paradojicamente, éste plato es típico de la ciudad de Lima y no de Huancayo, como se podría deducir por el nombre. De ahí que hayan varias versiones sobre su orígen.</p>
    <p>Empecemos!</p>
    <h3>Ingredientes</h3>
    <ul>
        <li>1 kg papas</li>
        <li>3 ajíes amarillos</li>
        <li>10 galletitas de agua comunes</li>
        <li>300 gr queso de campo fresco</li>
        <li>250 ml leche</li>
        <li>4 huevos duros</li>
        <li>Aceitunas negras (opcional)</li>
        <li>Sal y pimienta a gusto</li>
    </ul>
    <h3>Paso a paso</h3>
    <ol>
        <li>Herví las papas y los huevos y reservá. Las papas, cortalas en rodajas y los huevos en mitades.</li>
        <li>Llevá a una licuadora todos los ingredientes para la salsa Huancaína y licuá hasta que esten bien integrados y con textura cremosa.
            Tené en cuenta que la crema de ají amarillo es PICANTE, no le pongas mucho al comienzo y anda probando según tu gusto.</li>
        <li>Para servir las papas a la Huancaína como se hace tradicionalmente, pone primero una hoja de lechuga, arriba las papas cortadas en rodajas y la salsa cubriéndolas. Decorá con huevo duro en mitades y aceitunas negras.</li>
    </ol>
    <iframe width="500" height="250" src="https://www.youtube.com/embed/9rHZ4I_HRRw?si=ADv-Tp0LYdwX7gsn" title="Papa a la Huancaina peruana" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <br><br><a href="https://cookpad.com/ar/recetas/15395478-papa-a-la-huancaina-peru" target="_blank">Ir a la receta original</a>
    <hr>
        <p>No te pierdas la receta de <a href="../views/lomo-saltado.html">Lomo Saltado peruano</a></p>
        <a href="../index.html">Volver al inicio</a>

</body>
</html>